@model ProductViewModel

<div class="row">
    <div class="col-3">
        <img src="/img/notebook.jpg" style="max-width: 100%" alt="Notebook" />
    </div>
    <div class="col">
        <h2>@Model.Name</h2>
        <h5>ID: @Model.Id</h5>
        <h6>Описание:</h6><p>@Model.Description</p>
        <div class="text-right"><h3>Цена: @Model.Cost руб.</h3></div>
    </div>
</div>
<div class="row">
    <div class="col text-right">
        <a class="btn btn-dark" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
        <a class="btn btn-dark" asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Id" role="button">Добавить в корзину</a>
    </div>
</div>