@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-3 mx-1 card shadow text-center">
            <div class="card-body ">
                <a style="color:black"
                   asp-area=""
                   asp-controller="Product"
                   asp-action="Index"
                   asp-route-productId="@product.Id">
                    <img class="card-img-top" src="/img/notebook.jpg" alt="Notebook" />
                    <h5>@product.Name</h5>
                </a>
                <h6>Цена: @product.Cost руб.</h6>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-dark"
                   asp-controller="Cart"
                   asp-action="Add"
                   asp-route-productId="@product.Id"
                   role="button">Добавить в корзину</a>
                <a class="far fa-heart fa-lg mx-2" style="color:black"
                   asp-area=""
                   asp-controller="Favorite"
                   asp-action="Add"
                   asp-route-productId="@product.Id"
                   role="button"></a>
            </div>
        </div>
    }
</div>