@model List<ProductViewModel>


<div class="container">
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-md">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            <th>@product.Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src=@product.ImagePath style="max-width: 40%" />
                                <br />
                                Цена: @product.Cost
                                <br />
                                <br />
                                Описание: @product.Description
                                <br />
                                <br />
                                <div class="text-center">
                                    <a class="btn btn-outline-success"
                                       asp-area=""
                                       asp-controller="Cart"
                                       asp-action="Add"
                                       asp-route-productId="@product.Id">
                                        Добавить в корзину
                                    </a>
                                    <a class="btn btn-outline-danger"
                                       asp-area=""
                                       asp-controller="Compare"
                                       asp-action="Remove"
                                       asp-route-productId="@product.Id">
                                        Убрать из сравнения
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        <div class="text-right">
            <a class="btn btn-outline-danger"
               asp-area=""
               asp-controller="Compare"
               asp-action="Clear">
                Очистить сравнения
            </a>
        </div>
    </div>
</div>
