@model List<ProductViewModel>
@{
    ViewData["Title"] = "Сравнение товаров";
}

@if (Model.Count == 0)
{
    <h4>Здесь пока нет товаров для сравнения...</h4>
}
@if (Model.Count == 1)
{
    <h4>Добавьте ещё один продукт для сравнения</h4>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            @foreach (var product in Model)
                            {
                                <th>@product.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var product in Model)
                            {
                                <td><img src=@product.ImagePath style="max-width:100%"></td>
                            }
                        </tr>
                        <tr>
                            @foreach (var product in Model)
                            {
                                <td>@product.Cost руб.</td>
                            }
                        </tr>
                        <tr>
                            @foreach (var product in Model)
                            {
                                <td>@product.Description</td>
                            }
                        </tr>
                        <tr>
                            @foreach (var product in Model)
                            {
                                <td>
                                    <div class="btn btn-group">
                                        <a class="btn add-cart-btn-outline-success"
                                           asp-area=""
                                           asp-controller="Cart"
                                           asp-action="Add"
                                           asp-route-productId="@product.Id">
                                            <i class="bi bi-cart-plus-fill"></i>
                                            Добавить в корзину
                                        </a>
                                        <a class="btn btn-outline-danger"
                                           asp-area=""
                                           asp-controller="Compare"
                                           asp-action="Remove"
                                           asp-route-productId="@product.Id">
                                            <i class="bi bi-dash-circle"></i>
                                            Убрать
                                        </a>
                                    </div>
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    if (Model.Count >= 2)
    {
        <div class="container">
            <div class="row my-2">
                <div class="col-md text-right">
                    <a class="btn btn-outline-danger"
                       asp-area=""
                       asp-controller="Compare"
                       asp-action="Clear">
                        <i class="bi bi-x-circle"></i>
                        Очистить всё
                    </a>
                </div>
            </div>
        </div>
    }
}