@model UserViewModel

<form method="post">
    <div class="text-center">
        <h3>Редактирование логина: @Model.UserName</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @await Html.PartialAsync("AdminLeftMenu")
            </div>
            <div class="col-md">
                <input type="hidden" name="userName" value="@Model.UserName" />
                <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
                <div>
                    <label asp-for="Email">Почта:</label>
                    <input asp-for="Email" value="@Model.Email" />
                    <span style="color:lightcoral" asp-validation-for="Email" />
                </div>
                <div class="my-2">
                    <label asp-for="PhoneNumber">Телефон:</label>
                    <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
                    <span style="color:lightcoral" asp-validation-for="PhoneNumber" />
                </div>
                <div class="my-2 text-right">
                    <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userName="@Model.UserName">Сохранить</button>
                    <a class="btn btn-dark" asp-area="Admin" asp-controller="User" asp-action="Index" role="button">К списку пользователей</a>
                </div>
            </div>
        </div>
    </div>
</form>