@model Cart

@if (Model == null)
{
    <h4>Корзина пустая!</h4>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td><a class="btn btn-dark" asp-controller="Cart" asp-action="DecreaseAmount" asp-route-productId="@item.Product.Id" role="button">-</a> @item.Amount шт. <a class="btn btn-dark" asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Product.Id" role="button">+</a></td>
                            <td>@item.Product.Cost руб.</td>
                            <td>@item.Cost руб.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h5>Итого:</h5>
                <h3>@Model.Cost руб.</h3>
            </div>
            <div class="text-center">
                <a class="btn btn-dark" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
                <a class="btn btn-danger" asp-controller="Cart" asp-action="Clear">Очистить корзину</a>
                <a class="btn btn-success" href="#" role="button">Оформить заказ</a>
            </div>
        </div>
    </div>
}