@model List<UserViewModel>

<div class="text-center">
    <h3>Список пользователей</h3>
</div>
<div class="row">
    <div class="col-md-2">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>

    @{ int counter = 1;

        <div class="col-md">
            <table class="table">
                <thread>
                    <tr>
                        <th>№</th>
                        <th>Пользователь</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Телефон</th>
                    </tr>
                </thread>
                <tbody>

                    @foreach (var user in Model)
                    {
                    <tr>
                        <td>@counter</td>
                        <td>@user.Login</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Phone</td>
                        <td><a class="btn btn-outline-dark" asp-area="Admin" asp-controller="User" asp-action="Detail" asp-route-login="@user.Login">Подробнее</a></td>
                    </tr>

                        counter += 1;
                    }

                </tbody>
            </table>
            <div class="col-md text-right">
                <a class="btn btn-outline-dark" asp-area="Admin" asp-controller="User" asp-action="Add">Добавить нового пользователя</a>
            </div>
        </div>
    }
</div>