@model List<Product>

<div class="text-center">
    <h3>Продукты</h3>
</div>
<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")
    <div class="col">
        <table class="table">
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Наименование</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td><a class="btn btn-outline-secondary" asp-area="" asp-controller="Product" asp-action="Index" asp-route-productId="@product.Id" role="button">Подробно</a></td>
                        <td><a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Products" asp-action="EditProduct" asp-route-productId="@product.Id" role="button">Редактировать</a></td>
                        <td><a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Products" asp-action="RemoveProduct" asp-route-productId="@product.Id" role="button">Удалить</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col">
            <div class="text-right">
                <a class="btn btn-outline-dark" asp-area="Admin" asp-controller="Products" asp-action="AddProduct" role="button">Добавить новый продукт</a>
            </div>
        </div>
    </div>
</div>