@model OrderViewModel

<form method="post">
    <input type="hidden" name="orderId" value="@Model.Id" />

    <div class="text-center">
        <h3>Заказ:</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                @await Html.PartialAsync("AdminLeftMenu")
            </div>
            <div class="col-md-4 h5">
                <div>
                    Получатель:
                </div>
                <br />
                <div>
                    Телефон:
                </div>
                <br />
                <div>
                    Почтовый индекс:
                </div>
                <br />
                <div>
                    Город:
                </div>
                <br />
                <div>
                    Адрес доставки:
                </div>
                <br />
                <div>
                    Комментарии:
                </div>
                <br />
                <div>
                    Дата и время оформления:
                </div>
                <br />
                <div>
                    Сумма заказа:
                </div>
                <br />
                <div>
                    Статус заказа:
                </div>
            </div>
            <div class="col h5">
                <div>
                    @Model.UserDeliveryInfo.LastName @Model.UserDeliveryInfo.FirstName
                </div>
                <br />
                <div>
                    @Model.UserDeliveryInfo.Phone
                </div>
                <br />
                <div>
                    @Model.UserDeliveryInfo.ZipCode
                </div>
                <br />
                <div>
                    @Model.UserDeliveryInfo.City
                </div>
                <br />
                <div>
                    @Model.UserDeliveryInfo.Address
                </div>
                <br />
                <div>
                    @Model.UserDeliveryInfo.Comments
                </div>
                <br />
                <div>
                    @Model.CreateDateTime.ToShortDateString() @Model.CreateDateTime.ToShortTimeString()
                </div>
                <br />
                <div>
                    @Model.Cost
                </div>
                <br />
                <div>
                    @EnumHelper.GetDisplayName(Model.Status)
                    <select asp-for="@Model.Status"
                            asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()"
                            class="form-control">
                    </select>
                </div>
                <br />
                <div>
                    <button class="btn btn-outline-success" button type="submit" asp-area="Admin" asp-controller="Order" asp-action="UpdateStatus">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>